{% extends "base.html" %}
{% load menu_tags %}
{% load static %}
{% load humanize %}




{% block content %}



<section class="home-slider owl-carousel img" style="background-image: url(/static/images/bg_1.jpg);">

	<div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Our Menu</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Menu</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	
	{% popularposts %}

	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">pizaa</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
			</div>
		</div>
		<div class="row">
			{% for item in items %}
			{% if item.category.id == 1 %}
			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url('{{ item.image.url }}');"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>{{ item.name }} - {{ item.score }} ⭐</span></h3>
							<span class="price">{{item.price|intcomma}}</span>
						</div>
						<div class="d-block">
							<p>{{item.material}}
								<form action="{% url 'menu:order-add' item.id %}" method="post" class="d-block">
									{% csrf_token %}
									<button type="submit" class="ml-2 btn btn-white btn-outline-white">Order</button>
								</form>						
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">sandwich</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
			</div>
		</div>
		<div class="row">
			{% for item in items %}
			{% if item.category.id == 3 %}
			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url('{{ item.image.url }}');"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>{{ item.name }} - {{ item.score }} ⭐</span></h3>
							<span class="price">{{item.price|intcomma}}</span>
						</div>
						<div class="d-block">
							<p>{{item.material}}
								<form action="{% url 'menu:order-add' item.id %}" method="post" class="d-block">
									{% csrf_token %}
									<button type="submit" class="ml-2 btn btn-white btn-outline-white">Order</button>
								</form>						
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">salad</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
			</div>
		</div>
		<div class="row">
			{% for item in items %}
			{% if item.category.id == 2 %}
			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url('{{ item.image.url }}');"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>{{ item.name }} - {{ item.score }} ⭐</span></h3>
							<span class="price">{{item.price|intcomma}}</span>
						</div>
						<div class="d-block">
							<p>{{item.material}}
								<form action="{% url 'menu:order-add' item.id %}" method="post" class="d-block">
									{% csrf_token %}
									<button type="submit" class="ml-2 btn btn-white btn-outline-white">Order</button>
								</form>						
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>




{% endblock content %}